html{
    background-color: #f6f5f5;
}
body,ul{
    margin: 0rem;
    padding: 0rem;
}
header{
    text-align: center;
    width: 100%;
    height: 2.044rem;
    line-height: 2rem;
    background-color: #FFFFFF;
}
.backBtn{
    position: absolute;
    top: 0.825rem;
    left: 1.3rem;
    display: inline-block;
    font-size: 0.622rem;
    line-height: 0.622rem;
    color: #666666;
}
.backBtn > a{
    text-decoration: none;
    color: #666666;
}
.backBtn img{
    position: absolute;
    left: -0.625rem;
    width: 0.333rem;
    height: 0.622rem;
}
.title{
    display: inline-block;
    font-size: 0.711rem;
}
.simulationTypeList{
    margin-top: 0.27rem;
}
.simulationType{
    list-style-type: none;
    width: 100%;
}
.item{
    width: 91.7%;
    height: 4rem;
    display:flex;
    justify-content: space-between;
    padding:0 4.15%;
    background-color: #FFFFFF;
    margin-top: 0.09rem;
}
.item img{
    width: 0.578rem;
    height: 0.711rem;
    padding: 0.2rem 0.2rem;
}
.itemImg{
    line-height: 0.622rem ;
    padding-top: 1.5rem;
}
.itemTitle{
    font-size: 0.622rem;
    color: #666666;
}
.itemTitle > p{
    font-size: 0.53rem;
    line-height: 0.53rem;
    color: #999999;
}
.itemh3{
    font-weight: normal;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    margin: 0.35rem 0rem;
}

.emptyImg{
    width: 4.888rem;
    height: 4.888rem;
    margin-top: 3.2rem;
    margin-left: calc(50% - 2.444rem);
    background-image: url("../../../resources/img/mobile/empty.png");
    background-repeat: no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
